/* DetailPage.css */

/* Style for the header */
.header {
  text-align: center;
  padding: 20px;
  background-color: #003366;
  color: white;
}

/* Style for the problem statement */
.problem-statement {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #333;
  width: 500px;
}

/* Style for the container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  flex-direction: row; /* Keep the flex direction as row */
  margin-top: 20px;
}

/* Style for the content area */
.content {
  width: 1000px;
  max-width: 1200px; /* Adjust max-width as needed */
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto; /* Enable horizontal scrollbar */
  overflow-y: auto; /* Enable vertical scrollbar */
  max-height: calc(100vh - 200px); /* Adjust max-height as needed */
}

/* Style for the table */
table {
  width: 1000px; /* Adjust width to fit content */
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
  table-layout: auto; /* Allow table to adjust width based on content */
  
}

/* Style for table header */
table th {
  background-color:#e94560;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
 
}

/* Style for table rows */
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 1200px;
}

/* Hover effect on table rows */
table tbody tr:hover {
  background-color: #1b8bff;
}
